* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.mainPage,
.contact,
.about,
.projects {
  background-image: url(https://wallpaperaccess.com/full/662960.jpg);
  background-size: cover;
  background-position: center;
}
