* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.alphacoders.com/115/1152116.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.nav-link {
  color: white !important;
  font-size: larger !important;
}

.logo {
  width: 6rem;
  border-radius: 50%;
}

.qr {
  transition: transform 0.2s;
}

.qr:hover {
  transform: scale(1.1);
}

.cards {
  box-shadow: 0.75rem 0.9rem rgba(204, 203, 203, 0.2);
  transition: all 0.3s ease;
}

.cards:hover {
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem rgba(230, 228, 228, 0.4);
}

.buttons:hover {
  opacity: 0.85;
  scale: 1.01;
}

.backToTop:hover {
  background: rgba(68, 41, 242) !important;
}

.navlinks {
  font-size: larger;
}

.navlinks:hover {
  color: gray !important;
}

.banner {
  max-width: 100vw;
  padding-top: 20vh;
  padding-bottom: 20vh;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
