* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

div.mainPage {
  background-image: url(https://media2.giphy.com/media/13bGgH9VnEDsuA/giphy.gif?cid=ecf05e47x1wraozw5q47xuuuzqra9ammh11kh7x9sks5432x&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
}
